<!--Recherche-->
<div class="event-cover">
  <div class="search__container">
    <input type="text" #myInput [(ngModel)]="titre" (input)="SearchBlogByTitre()" class="search__input" placeholder="Search …" />
    <input [hidden]="true" type="text" #myInput [(ngModel)]="date" (input)="SearchBlogByDate()" class="search__input" placeholder="Search …" />
  </div>
</div>

<!--Filtre-->
<div class="form-group">
  <input type="button" style="margin-bottom: 15px;" value="Filtre" class="filtre" />
  <select id="host" style="margin-bottom: 15px;">
    <option value="CLUB" selected>Club</option>
    <option value="UNIVERSITE">University</option>
    <option value="ADMINISTRATEUR" selected>Administrator</option>
    <option value="ETUDIANT">Student</option>
    <option value="ENSEIGNANT">Teacher</option>
  </select>
  <input type="date" style="margin-bottom: 15px;" #myInput [(ngModel)]="date" (input)="SearchBlogByDate()" class="search-input" placeholder="Search …"/>
  <select id="lieu">
    <option value="Zaghouan" selected>Zaghouan</option>
    <option value="Manouba">Manouba</option>
    <option value="Tunis">Tunis</option>
    <option value="Sousse">Sousse</option>
    <option value="Nabeul">Nabeul</option>
    <option value="Sfax">Sfax</option>
  </select>
</div>
<br>
<br>

<!--Add-->
<button  class="pulse" style="margin-left:43%" [hidden]="isOpened" (click)="toggle()">Create Your Own Blog</button>

<div [style.display]="style1" class="blog-slider6" [hidden]="hideformblog">
  <div class="container">
    <div class="main-card" >
      <div class="cards"  >
        <div class="card" style="width: 30%; height: 370px; margin-left: 12%; margin-bottom: 0%;" >
          <i class="fa-regular fa-circle-xmark" style="color: #03C1AD; cursor: pointer;" [hidden]="!isOpened" (click)="closeNote()"></i>
          <a href="/home/blogs" [hidden]="!isOpened" (click)="closeNote()" style="margin-top: 15px;margin-left:15px; font-size: x-large;color: black;"><i class="fa-solid fa-xmark" ></i></a>
          <h5 style="text-align: center; margin-top: 0%;">Create Your Own Blog !
          </h5>
          <br>
          <form *ngIf="blog">
            <input [hidden]="hideform" style="width: 80%; margin-left: 10%;" class="form-control"  type="text" name="titre" placeholder="Tilte" [(ngModel)]="blog.titre" required #titre="ngModel">
            <br>
            <textarea [hidden]="hideform" style="width: 80%; margin-left: 10%;" class="form-control"  type="text" name="description" placeholder="Description" cols="30" rows="5" [(ngModel)]="blog.description" required #description="ngModel"></textarea>
            <br>
            <input [hidden]="hideimage" style="width: 80%; margin-left: 10%; margin-bottom: 15px;" class="form-control" type="file" name="image" (change)="onFileSelected($event)" accept=".jpeg, .png, .jpg" />
            <button [hidden]="hideform" class="btn btn-primary" style="margin-left: 50%;" (click)="addBlog(blog)" [disabled]="titre.invalid || description.invalid">Next</button>
            <a routerLink="/home/blogs" href="/home" >
              <input [hidden]="hideimage" class="btn btn-primary" style="margin-left: 45%; margin-top: 15px;" type="submit" (click)="addImage()" value="Add Blog" />
            </a>
            <div class="alert alert-success" [hidden]="showmsg" style=" width: 400px; margin-left: 28%; text-align: center; border-radius: 15px; margin-top: 40px;">
            {{ msg }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Blogs-->
<div class="blog-slider5">
  <h4 style="text-align: center;">Here Is {{nBlogs}} Blogs</h4>
  <br>
  <br>
  <div class="container" >
    <div class="row">
      <div  *ngFor="let blogs of ListBlog; let i of index" >
        <div class="main-card" style="width: 100%;" >
          <div class="cards"  >
            <div class="card" style="width: 400px; min-height: 650px; height: 100%;" >
              <div class="content">
                <li style="list-style-type: none;">
                  <img src="http://localhost:9091/User/{{ blogs.user.profileImage }}" style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #03c1ad; display: inline;" alt=""/>
                  <a class="nav-link" style="font-weight: bold; display: inline; color: black; ">
                    <i class="ion-md-power"></i> {{blogs.user.nom}} {{blogs.user.prenom}}
                  </a>
                  <a (click)="openalert(contentalert); setBlogId(blogs._id)" [hidden]="hideSupp(blogs.user._id)">
                    <fa-icon style="color: red;" [icon]="faTrash"  class="material-icons"></fa-icon>
                  </a>
                  <br>
                  <br>
                  <small>Published on : {{blogs.date}}</small>
                </li>
                <div class="img" style="border:2px red !important;">
                  <img src="http://localhost:9091/Blog/{{ blogs.image }}" style="width: 307px;max-height: 307px;" alt="Blog Picture" (click)="setBlogId(blogs._id)" routerLink="/home/blogs/blog" />
                </div>
                <div class="details">
                  <div class="name" style="hyphens: none;">{{blogs.titre}}</div>
                </div>
                <br>
                <p style="width: 80%; height: 90px;">{{blogs.description}}</p>
                <br>
                <a style="color: #03C1AD;  margin-left: 70%; margin-top: -60px;">
                  <fa-icon [icon]="faComment"  class="material-icons"></fa-icon>
                  <p style="color: #03c1ad;"> {{blogs.nombreCommentaire}} Comments </p>
                </a>
                <a style=" font-size: large; margin-left: -80%;margin-top: -18%;" (click)="likeBlog(blogs._id)"  href="/home/blogs">
                  <fa-icon style="color: #03C1AD;" [icon]="faThumbsUp"  class="material-icons"></fa-icon>
                </a>
                <a style=" font-size: large; margin-left: -65%; margin-top: -6.3%; " (click)="dislikeBlog(blogs._id)"  href="/home/blogs">
                  <fa-icon style="color: #03C1AD;" [icon]="faThumbsDown"  class="material-icons"></fa-icon>
                </a>
                  <p style="color: #03C1AD; margin-left: -72%;">{{blogs.like}} Like</p>
                <br>
                <br>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Delete-->
<ng-template #contentalert let-modal>
  <div class="modal-header">
    <h5 style="color: black; text-align: center;" class="modal-title" id="modal-basic-title">Are You Sur to delete this Blog ?</h5>
    <a href="/home/blogs">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </a>
  </div>
  <div class="modal-body" >
    <form>
      <div class="form-group" style="align-items: center;">
        <a style="color: red;" href="/home/blogs" class="btn btn-default" (click)="deleteBlog(); modal.dismiss('Cross click')">Confirm</a>
        <a style="color: green;" class="btn btn-link" class="btn btn-default" href="/home/blogs" (click)="modal.dismiss('Cross click')">Cancel</a>
      </div>
    </form>
  </div>
</ng-template>
