<img src="sopal.png" alt="sopal">
<h1>SOPAL</h1>
<h1>Groupe SOPAL</h1>
<p>Les Societes DU Groupe</p>
<h2>Sopal</h2>
<p>Créer depuis quarante ans, SOPAL, est ............</p>
<ul>
    <li>Jobean</li>
    <li>bain et cummer</li>
    <li>branchement d'eau</li>
    <li>Branchement de gaz</li>
</ul>
<h2>Aquaplast</h2>
<p>en 2005........................</p>
<h2>Sana</h2>
<p>En 2006.......................</p>
<table>
    <tr>
      <td>Societes</td>
      <td>activité</td>
      <td>Date de creation</td>
      <td>Localité</td>
    </tr>
    <tr>
      <td>sopal</td>
      <td>Industriel</td>
      <td>1981</td>
      <td>tunisie</td>
    </tr>
    <tr>
        <td>Aquaplast</td>
        <td>Industriel</td>
        <td>2005</td>
        <td>tunisie</td>
    </tr>
    <tr>
        <td>SANA</td>
        <td>Industriel</td>
        <td>2006</td>
        <td>tunisie</td>
    </tr>
  </table>
  <ol>
    <li>TUNISIE</li>
    <li>MAROC</li>
    <li>COTE D'IVOIRE</li>
    <li>Senegal</li>
  </ol>
  <a href="#">Nos Produit</a>
