<div class="container11">
  <div class="cover-picture">
    <img src="../../../../assets/images/event-cover.png" alt="event-cover">
  </div>
  <div class="event-title">
    <p>Universe 7 MERCREDI 29 SEPTEMBRE 2021 DE 14:00 À 17:00 <br> Esen Android Club - ESEN - École Supérieure d'Économie Numérique</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-7">
      <h1 class="title">Universe 7</h1>
      <h2 class="about">About The Event</h2>
      <h3>+112 personnes</h3>
      <h3>Évènement de ESEN Android Club</h3>
      <h3>ESEN - École Supérieure d'Économie Numérique</h3>
      <h3>Durée : 3 h</h3>
      <h3>Public  · Tout le monde </h3>
      <h4>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily</h4>
      <input type="button" value="Go to link">
    </div>
    <div class="col-5">
      <iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=esen%20manouba%20manouba+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://embed-map.org/'>google maps for my website</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=2c5de4f0372874d6ff1be14ea14796eaccf61f58'></script>
      <h2>ESEN-École Supérieure d'Économie
        Numérique</h2>
      <h4>Technopole de la Manouba , Tunis</h4>
    </div>
  </div>
</div>
